/* Utilisez le même CSS que Login.css en changeant les noms des classes */
.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000000;
    padding: 20px;
    overflow: hidden; /* Empêche le défilement */
  }