.login-card {
    background-color: #000; /* Fond noir comme signup_card2 */
    color: #fff; /* Texte blanc */
    border-radius: 0.75rem;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.658);
    padding: 2rem;
    max-width: 30rem; /* Augmentation de la largeur maximale */
    width: 80%; /* Ajout de width 100% pour une meilleure adaptation */
    margin: 0 auto;
    text-align: center;
}

.login-card h2 {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    color: #fff;
}

.form-group {
    margin-bottom: 1.5rem;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #fff;
}

.form-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #fff;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 0.875rem;
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: #0000FF;
    color: #FFFFFF;
    padding: 0.75rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s;
}

button:hover {
    background-color: #FFFFFF;
    color: #0000FF;
}

.links {
    margin-top: 1.5rem;
}

.links a {
    display: block;
    color: #0000FF;
    text-decoration: none;
    margin-top: 5px;
}

.links a:hover {
    text-decoration: underline;
    color: #fff;
}

button:disabled {
    background-color: rgba(0, 0, 255, 0.5); /* Couleur de fond grisée */
    cursor: not-allowed; /* Curseur non autorisé */
    color: rgba(255, 255, 255, 0.5); /* Texte grisé */
}